<div class="row my-5">
  <div class="col-6">
    <h1 class="my-3">Add new review</h1>
    <%= simple_form_for [@restaurant, @review] do |f| %>
      <%= f.input :rating, collection: [1, 2, 3, 4, 5] %>
      <%= f.input :content %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
<span class="border-bottom mb-2"></span>
<div class="d-flex justify-content-between w-50">
  <%= link_to 'ðŸ¡ Go back Home', restaurants_path, class: "text-decoration-none" %>
  <%= link_to 'ðŸ¥˜ Go back to ' + @restaurant.name , restaurant_path(@restaurant), class: "text-decoration-none" %>
</div>
</div>
